body {
    padding: 30px;
    margin: 0;
    background:turquoise;
    background: -webkit-linear-gradient(turquoise, purple);
    height:100vh;
    


}

ol {
    margin:0;

}

#chicken {
    background:rgba(204, 61, 255, 0.8);
    width: 30vw;
    height:60vh;
    margin: 20px;
    border-radius:20px;
    display:inline-block;
    margin-left:400px;
    padding:50px;
    box-shadow: 0px 0px 50px rgba(255, 42, 235, 0.7);

   
}

p{
    display:inline-block;
    border-radius:10px;
    border: 2px solid purple;
    margin:15px;
    margin-bottom:1.5px;
    height:1em;
    width:1em;
   /* margin:auto;*/

}
 button{
     background:white;
     margin:10px;
     border-radius:60px;
     margin-left:150px;
     border:none;
     height:50px;
     width:130px;

 }

 .spot{
     background:rgba(0, 0, 0, 0.4);
     width:300px;
     height:35px;
     margin:10px;
     border-radius:4px;
 }

p.sam{
border: 2px blue  solid ;
}

