body{
    margin:0;
    min-height:100vh;
}
nav{
    background-color:rgba(214, 70, 123, 0.6);
    
}
ul{
    margin:0;
    padding:15px;
    text-align:center;
}

li{
    padding:15px;
    display:inline-block;
    
}
/*Sudi code*/
li:hover{
    background:rgba(69, 252, 237, 0.57);
}
span{
    color:pink;

}
main{
    display:inline-block;
    margin:50px auto;
}
 
img, iframe {
     border:40px solid transparent;
    -moz-border-image: url("https://www.wired.de/sites/default/files/inline-images/2015-07/8bit7.gif") 30 round;
    display:block;
    margin:20px auto;
    width:30vh;
    height:30vh;
   
}

#left{
    margin:0;
}

h2{
    margin:0;
    text-align:center;
}
h1{
    text-align:center;
}
 /*footer{
     position:absolute;
     bottom:0;
     width:100vw;
 }

